@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fraunces&display=swap");

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;

    /* Find out why font-weight doesn't work. */
    font-weight: 500px;
}

.container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image {
    /* width auto scales height as well. */
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: hsl(0, 0%, 100%);
    width: 300px;
    
    border-radius: 10px;
    padding-bottom: 20px;
}

.card__text {
    display: flex;
    flex-direction: column;

    max-width: 275px;
}

.card__type {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.info__name {
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    margin-top: 0;
}

.info__desc {
    font-size: 14px;
}

.footer--flex {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 12px;

    padding-bottom: 10px;
}

.footer__price {
    color: hsl(158, 36%, 37%);
    font-size: 30px;

    margin-top: 0px;
    margin-bottom: 0px;
}

.footer__oldPrice {
    text-decoration: line-through;
}

.footer__price,
.footer__oldPrice,
.cartButton__text {
    font-family: 'Fraunces', sans-serif;
}

.cartButton {
    display: flex;
    justify-content: center;
    gap: 5px;

    background: hsl(158, 36%, 37%);
    border-radius: 10px;
    padding: 5px;
}

.cartButton__text {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
}

.card__type,
.info__desc,
.footer__oldPrice {
    color: hsl(228, 12%, 48%);
}

/* Desktop support. */
@media screen and (min-width: 375px) {
    .card__image {
        content: url(/images/image-product-desktop.jpg);

        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .card {
        flex-direction: row;
        width: 600px;
        gap: 40px;

        padding-bottom: 0;
        padding-right: 25px;
    }

    .footer--flex {
        padding: 20px 0px;
    }

    .cartButton {
        padding: 0px;
    }

    /* Active state. */
    .cartButton:hover {
        cursor: pointer;
        background: hsl(158, 36%, 20%);
    }

    .card__type {
        padding-bottom: 30px;
    }

    .card__text {
        padding-bottom: 30px;
    }
}