@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fraunces&display=swap");

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image {
    /* width auto scales height as well. */
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: hsl(0, 0%, 100%);
    width: 300px;
}

.card__text {
    display: flex;
    flex-direction: column;

    background: brown;
    max-width: 275px;
}

.card__type {
    background: pink;
}

.info {
    background: gray;
}

.info__name {
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
}

.info__desc {
    font-size: 14px;
}

.footer {
    background: purple;
}

.footer__price,
.footer__oldPrice {
    font-family: 'Fraunces', sans-serif;
}

.cartButton {
    background: green;

    display: flex;
    gap: 10px;
}